<div class="page-header">
  <h2><%= @presenter.name %></h2>
  
  <p><%= @presenter.about %></p>
  
  <p>
    <strong>Tags:</strong>
    <%= render :partial => 'tags/tag', :collection => @tags %>
  </p>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              presenters_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_presenter_path(@presenter), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              presenter_path(@presenter),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>