<!DOCTYPE html>
<html lang="en">
<head>
  <title>WhitescapeTest2</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <%= link_to 'Whitescape Test 2', root_path, class: 'brand' %>

        <div class="container nav-collapse">
          <ul class="nav">
            <li><%= link_to "Seminars", seminars_path  %></li>
            <li><%= link_to "Presenters", presenters_path  %></li>
            <li><%= link_to "Tags", tags_path  %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span9">

          <%= yield %>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
