<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhitescapeTest2</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Whitescape Test 2', root_path, class: 'brand' %>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Seminars", seminars_path  %></li>
              <li><%= link_to "Presenters", presenters_path  %></li>
              <li><%= link_to "Tags", tags_path  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span9">
              <%= yield %>
            </div>
            <div class="span3">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Controls</li>
                  <li><%= link_to 'New Seminar', new_seminar_path  %></li>
                  <li><%= link_to 'New Presenter', new_presenter_path  %></li>
                  <li><%= link_to 'New Tag', new_tag_path  %></li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
